
*.sln
*.filters
*.vcxproj
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.ilk
*.pdb
*.exe
*.user
*.obj
*.log
*.idb
*.tlog
*.lib
NetworkLib/builds/*
NetworkLib/Projects/*
NetworkLib/Tests/Projects/*
*.enc
*.manifest
*.testlog
*.pyc